<%= labelled_fields_for :issue, @issue do |f| %>
<%= call_hook(:view_issues_form_details_top, { :issue => @issue, :form => f }) %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" %>
<style type="text/css">
.modal{
    position: fixed;
}
</style>
<script>
	//config
jQuery.noConflict();
(function($) {
$(function() {
<% if $floatsave %>
menuPosition=0;
//cache vars
$(document).dblclick(function () {
	showModal('float-save-window', '230px')
	});
  $("#issue_tracker_id, #issue_status_id").each(function(){
    $(this).val($(this).find("option[selected=selected]").val());
  });
  $("#float-save-window :submit").click(function () {
	$('#issue-form').submit();
	});
$(window).load(function() {
    menuPosition=$('#float-save-window').position().top;
    FloatMenu();
 var ua = navigator.userAgent; // ユーザーエージェントを代入
    if (ua.match("MSIE") || ua.match("Trident")) { //MSIEまたはTridentが入っていたら
	$('#float-save-window input[name=continue]').attr('disabled', true);
    }     
});
 
$(window).scroll(function () {
    FloatMenu();
});

function FloatMenu(){
    var scrollAmount=$(document).scrollTop();
    var newPosition=menuPosition+scrollAmount;
}

<% end %> //FloatMenu End
//count title field
countField('#subject' ,'#counter',72);
function countField($field_id,$update_id,$max){
 $($field_id).live('keyup',function(){
       var thisValueLength = $($field_id).val().length;
        $($update_id).html(thisValueLength);

});
}
});
})(jQuery);
</script>
<% if $floatsave %>
<div id="float-save-window" style="display:none">
<h3 class="title"><%= l(:label_float_save) %></h3>
<%= submit_tag l(:button_create), :form => 'issue-form' %>
<%= submit_tag l(:button_create_and_continue), :name => 'continue',  :form => 'issue-form' %>
<% if request.path_info.match('new') || request.path_info.match('copy')  %>
<%= preview_link preview_new_issue_path(:project_id => @issue.project), 'issue-form' %>
<% else %>
<%= preview_link preview_edit_issue_path(:project_id => @project, :id => @issue), 'issue-form' %>
<% end %>
<%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
</div>
  <% end %>
<% if @issue.safe_attribute? 'is_private' %>
<p style="float:right; margin-right:1em;">
  <%= f.check_box :is_private, :no_label => true %><label class="inline" for="issue_is_private" id="issue_is_private_label"><%= l(:field_is_private) %></label>
</p>
<% end %>

<% if @issue.safe_attribute?('project_id') && (!@issue.new_record? || @project.nil? || @issue.copy?) %>
<p><%= f.select :project_id, project_tree_options_for_select(@issue.allowed_target_projects, :selected => @issue.project), {:required => true},
                :onchange => "updateIssueFrom('#{escape_javascript update_issue_form_path(@project, @issue)}')" %></p>
<% end %>


<% if @issue.safe_attribute? 'tracker_id' %>
<p><%= f.select :tracker_id, @issue.project.trackers.collect {|t| [t.name, t.id]}, {:required => true},
                :onchange => "updateIssueFrom('#{escape_javascript update_issue_form_path(@project, @issue)}')" %></p>
<% end %>
<% if @issue.safe_attribute? 'subject' %>
<p><%= f.text_field :subject, :size => 100, :required => true, :id => "subject" %></p>
<% end %>
<%if [9,13,15].include?(@issue.tracker_id) %> 
	<p> used ... <span id="counter">...</span> letters. (CDETS is allowed to use 72 letters)</p>
<% end %>

<%if not [9,13,15].include?(@issue.tracker_id) %> 
<% if @issue.safe_attribute? 'description' %>
<p>
  <%= f.label_for_field :description, :required => @issue.required_attribute?('description') %>
  <%= link_to_function image_tag('edit.png'), '$(this).hide(); $("#issue_description_and_toolbar").show()' unless @issue.new_record? %>
  <%= content_tag 'span', :id => "issue_description_and_toolbar", :style => (@issue.new_record? ? nil : 'display:none') do %>
    <%= f.text_area :description,
                   :cols => 60,
                   :rows => (@issue.description.blank? ? 10 : [[10, @issue.description.length / 50].max, 100].min),
                   :accesskey => accesskey(:edit),
                   :class => 'wiki-edit',
                   :no_label => true %>
  <% end %>
</p>
<%= wikitoolbar_for 'issue_description' %>
<% end %>
<% end %>
<div id="attributes" class="attributes">
  <%= render :partial => 'issues/attributes' %>
</div>

<%= call_hook(:view_issues_form_details_bottom, { :issue => @issue, :form => f }) %>
<% end %>

<% heads_for_wiki_formatter %>

<%= javascript_tag do %>
$(document).ready(function(){
  $("#issue_tracker_id, #issue_status_id").each(function(){
    $(this).val($(this).find("option[selected=selected]").val());
  });
});
<% end %>